@value makerWhite from '../../common/color.css';
@value mediaQuery from '../../common/size.css';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
}

.content {
    width: 100%;
    text-align: center;
}

.btn {
background-color: red;
color: makerWhite;
border: none;
border-radius: 5px;
}

@media screen and (max-width: mediaQuery) {
    .container {
        flex-direction: column;
    }
    
}

